*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #012B7D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.nav ul li{
    display: inline-block;
    margin: 0px 150px;
    

}
.nav ul span{
  font-size: 15px; 
    font-weight: lighter;
}
.nav .no{
  font-size: 30px;
  color: #00FFFF;
}
.nav .b{
  margin-top: 8px;
  margin-bottom: 5px;
    font-weight: bold;
}
.ContainerImg {
  width: 100%;
    height: 550px;
    position: relative;
  }
  .gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.4;
  }
  .ContainerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ImgText {
    position: absolute;
    line-height: 3rem;
    top: 20%;
    color: #fff;
    left: 10%;
  }
  .FirstPara {
    font-size: 2rem;
  }
  .Heading {
    font-size: 4rem;
  }
  .SecHeading {
    font-size: 3rem;
  }
  .Form h{
    color: #fff;
    font-weight: bold;
    word-wrap: break-word;

    
  }
  .Form {
    display: flex;
    background-color: #012B7D;
    flex-direction: column;
    width: 25%;
    row-gap: 6px;
    padding: 15px 10px;
    position: absolute;
    top: 15%;
    right: 15%;
  }
  
  .Form .hl{
    
    color: #fff;
    letter-spacing: 5px;
    padding-bottom: 8px;
    margin-left: 20px;
    font-weight: lighter;
    
  }
  
  .InputDiv {
    display: flex;
    gap: 10px;
    width: 100%;
    

  }
  div input {
    width: 100%;
    height: 3rem;
  }
  textarea {
    width: 100%;
  }
  .SubmitButton {
    padding: 10px ;
    font-size: larger;
    font-weight: bold;
    background: #00FFFF;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    
  }
  .menu{
    width: 100%;
    height: 480px;
    display:flex;
    color:  #022D7C;
    padding: 60px 100px;
    justify-content: space-between;
  }
  .menu div{
    width: 30%;
   
}
.menu div p1{
  font-size: 40px;
  margin-bottom: 7px;
}
.menu div img{
  width: 400px;
  height: 250px;
}
.menu div p{
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: center;

}
 .about{
  width: 100%;
  height: auto;
  background: #012B7D;
  color: #ffffff;
  text-align: center;
  padding: 60px 300px;
  font-weight: lighter;


 } 
 .about h2{
  padding: 0px 100px;
 }
 .about button{
  background-color: #012B7D;
  color: #fff;
  padding: 9px 120px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-top: 25px;
 }
/* Working section start */

  .working {
    width: 100%;
    height: auto;
    display:flex;
    padding: 0px 50px;
    
  }
  .working img{
    width: 741px;
    height: 600px;
  
  }
  .working .para{
    padding: 150px 100px;
    font-weight: bolder;
    text-align: center;
  }   
    /* Working section end */
    /* working1 section start */

    .working1{
      width: 100%;
      height: auto;
      display:flex;
      padding: 0px 50px;
      margin-top: -4px;

    }

    .working1 img{
      width: 741px;
      height: 600px;
    
    }
    .working1 h2{

    }
    .working1 .para1{
      padding: 150px 100px;
      font-weight: bold;
    text-align: center;
    } 

   /* working1 section end */

/* header section start */

    .header{
      width: 100%;
      height: auto;
      padding: 5px ;
      text-align: center;
      background-color: #012B7D;
      color: #fff;
      margin-top: 50px;
    }

/* header section end */

@media screen and ( max-width: 768px)
{
  .nav{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #012B7D;
    font-size: 20px;
}
.nav ul li{
    display: inline-block;
    margin: 0px 10px;
}
.nav ul span{
  font-size: 15px; 
    font-weight: lighter;
}
.nav .no{
  font-size: 20px;
  color: #00FFFF;
}
.nav .b{
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}

.ContainerImg {
  width: 100%;
    height: 390px;
    position: relative;
  }

.ImgText {
  position: absolute;
  line-height: 3rem;
  top: 20%;
  color: #ffffff;
  left: 5%;
}
.FirstPara {
  font-size: 2rem;
}
.Heading {
  font-size: 3rem;
}
.SecHeading {
  font-size: 2.2rem;
}

.Form h{
  color: #fff;
  font-weight: bold;
  word-wrap: break-word;  
}
.Form {
  display: flex;
  background-color: #012B7D;
  flex-direction: column;
  width: 40%;
  row-gap: 6px;
  padding: 15px 10px;
  position: absolute;
  top: 15%;
  right: 5%;
}

.Form .hl{
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-weight: light;
  
}

.InputDiv {
  display: flex;
  gap: 10px;
  width: 100%;
}
div input {
  width: 100%;
  height: 2rem;
}
textarea {
  width: 100%;
  height: 90px;
}
.SubmitButton {
  padding: 5px ;
  font-size: larger;
  font-weight: bold;
  background: #00FFFF;
  color: #fff;
  border: none;
  margin-bottom: 5px;
  
}

.menu{
  width: 100%;
  height: 350px;
  display:flex;
  color:  #022D7C;
  padding: 10px 40px;
  padding-right: 190px;
  justify-content: space-between;
  

}
.menu div{
  width: 10%; 
}
.menu  div h2{
font-size: 15px;
margin-top: 5px;


}
.menu div img{
width: 200px;
height: 150px;
padding-left: 1px;
margin-top: 15px;
}
.menu div p{
  width: 220px;
height: 120px;
margin-top: 5px;
height: 10px;
margin-bottom: 0px;
color: #000000;
}

.about{
  width: 100%;
  height: 180px;

  padding: 15px 30px;
  font-weight: lighter;


 } 
 .about h2{
padding: 5px;
 }
 .about button{


  padding: 5px 100px;

  margin-top: 10px;
 }

 .working {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  padding: 0px 100px;
  
}
.working img{
  width: 363px;
  height: 300px;
  margin-left: 100px;
  margin-top: 10px;
 
}
.working .para{
  padding: 15px 10px;
  font-weight: bold;
text-align: center;
} 

.working1{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  padding: 0px 100px;
}

.working1 img{
  width: 363px;
  height: 300px;
  margin-left: 100px;
 

}

.working1 .para1{
  padding: 15px 10px;
  font-weight: bold;
text-align: center;
} 

}

@media screen and ( max-width: 425px){

  .nav{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #012B7D;
    font-size: 11px;
}
.nav ul li{
    display: inline-block;
    margin: 0px 10px;
}
.nav ul span{
  font-size: 7px; 
    font-weight: lighter;
}
.nav .no{
  font-size: 15px;
  color: #00FFFF;
}
.nav .b{
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
}

.ContainerImg {
  width: 100%;
    height: 470px;
    position: relative;
  }

.ImgText {
  position: absolute;
  line-height: 2rem;
  top: 10%;
  color: #ffffff;
  left: 20%;
}
.FirstPara {
  font-size: 1rem;
  padding: 0px 60px;
}
.Heading {
  font-size: 2rem;
  padding: 0px 30px;
}
.SecHeading {
  font-size: 2rem;
  margin-left: -18px;
}



.Form {
  display: flex;
  background-color: #012B7D;
  flex-direction: column;
  width: 55%;
  row-gap: 6px;
  padding: 15px 10px;
  position: absolute;
  top: 40%;
  right: 22%;
}

.Form .hl{
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 8px;
  margin-left: 20px;
  font-weight: light;
  font-size: 10px;
}

.InputDiv {
  display: flex;
  gap: 10px;
  width: 100%;
}
div input {
  width: 100%;
  height: 2rem;
}
textarea {
  width: 100%;
  height: 90px;
}
.SubmitButton {
  padding: 5px ;
  font-size: larger;
  font-weight: bold;
  background: #00FFFF;
  color: #fff;
  border: none;
  margin-bottom: 5px;
  
}

.menu{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  color:  #022D7C;
  padding-right: 170px;
  margin-right: 50px;
 
  align-items: center;
  

}
.menu div{
  width: 90%; 
}
.menu div img{
  width: 250px;
  height: 150px;
  padding-left: 50px;
  margin-top: 12px;
  margin-bottom: 500px;

  }
  .menu .p1 .p2{
    padding-left: 100px;
    color: #00FFFF;
  }
  .menu div .p3{
    width: 220px;
  height: 200px;
  margin-top: -495px;
  margin-left: 50px;
   margin-bottom: -77px;
  color: #c70707;
  }
  .about{
    width: 100%;
    height: 230px;
  
    padding: 15px 30px;
    font-weight: lighter;
  
  
   }


   .working {
    width: 120%;
    height: auto;
    display:flex;
    flex-direction: column;
    padding: 0px 100px;
   }  

   .working img{
    width: 326px;
    height: 237px;
    margin-left: -52px;
    margin-top: 19px;
   
  }
  .working h2{
    margin-left: -86px;
  }

  .working .para .pp{
    padding: 0px 0px;
    margin-left: -86px;
    font-weight: bold;
  text-align: center;
  } 

  .working1 h2{
    margin-left: -86px;
  }

  .working1 {
    width: 120%;
    height: auto;
    display:flex;
    flex-direction: column;
    padding: 0px 100px;
   }  

  .working1 .para1 .ppp{
    padding: 0px 0px;
    margin-left: -86px;
    font-weight: bold;
  text-align: center;
  }

  .working1 img{
    width: 326px;
    height: 237px;
    margin-left: -52px;
    margin-top: 19px;
   
  }

  .header{
    width: 100%;
    height: auto;
    padding: 5px ;
    text-align: center;
    background-color: #012B7D;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
  }
}


